/.claude
/build
*.md
/dist
.vs/L_to_MP3_4.slnx/FileContentIndex/32ab082b-abb5-4f70-bcf8-7d6c2d6f6bfb.vsidx
.vs/L_to_MP3_4.slnx/FileContentIndex/849a729b-b490-43f5-b032-c5a1fef24759.vsidx
.vs/L_to_MP3_4.slnx/FileContentIndex/fc0e1d47-3ecc-4459-9a1e-e404acb664df.vsidx
.vs/L_to_MP3_4.slnx/v18/.wsuo
.vs/slnx.sqlite
.vs/L_to_MP3_4.slnx/FileContentIndex/4a1e902c-298f-4b32-9dc0-37273202c1a2.vsidx
/.vs
